<%= search_form_for @q do |f| %>
  <%= f.condition_fields do |c| %>
    <div class="field">
      <%= c.attribute_fields do |a| %>
        <%= a.attribute_select associations: [:section] %>
      <% end %>
      <%= c.predicate_select %>
      <%= c.value_fields do |v| %>
        <%= v.text_field :value %>
      <% end %>
    </div>
    <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Breakfast", menu_breakfast_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Lunch", menu_lunch_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Dinner", menu_dinner_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Drinks", menu_drink_path, class: "nav-link active" %>
  </li>
</ul>
<table class="table table-inverse" id="table-active" >
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th>Description</th>
      <th><%= sort_link(@q, :price) %></th>
      <th>
        <%= sort_link(@q, :views) %>
      </th>
      <th>Order</th>

    </tr>
  </thead>
  <% @foods.each do |food| %>
    <tbody>
      <tr>
        <td><%= link_to food.name, food %></td>
        <td><%= food.description %></td>
        <td>$<%= food.price %></td>
        <td> <%= food.views %></td>
        <td><%= link_to "Order", new_order_path(food), class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
