<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Breakfast", welcome_breakfast_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "Lunch", welcome_lunch_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Dinner", welcome_dinner_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Drinks", welcome_drink_path, class: "nav-link" %>
  </li>
</ul>

<% @section.foods.each do |food| %>
  <%= food.name %>
<% end %>
