<div class="row">
  <div class="col-lg-12">
    <h2 class="" style="margin-top: 20px; margin-bottom: 20px;">Thank you for your order</h2>
    <h4 class="">Your order was created at <code><%= @order.created_at.strftime("%A, %B %d, %H:%M") %></code></h4>
    <dl>
      <dt class="col-sm-3">Your name</dt>
      <dd class="col-sm-9"><%= @order.username %></dd>
      <dt class="col-sm-3">Your coupon</dt>
      <dd class="col-sm-9"><%= @order.coupon %></dd>
      <dt class="col-sm-3">Your phone number</dt>
      <dd class="col-sm-9"><%= @order.phone %></dd>
      <dt class="col-sm-3">Your address</dt>
      <dd class="col-sm-9"><%= @order.address %></dd>
      <dt class="col-sm-3">Your email</dt>
      <dd class="col-sm-9"><%= @order.email %></dd>
    </dl>
      <hr>
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>#</th>
            <th>Dish name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% total = 0 %>
          <% index = 1 %>
          <% @order.carts.each do |cart| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= cart.food.name %></td>
            <td><%= number_to_currency(cart.food.price, unit: 'VND', format: "%n %u") %></td>
            <td><%= cart.quantity %></td>
            <td><%= number_to_currency(cart.quantity * cart.food.price, unit: 'VND', format: "%n %u") %></td>
          </tr>
          <% total += (cart.quantity * cart.food.price) %>
          <% index += 1 %>
          <% end %>
          <tr>
            <th scope="row"><%= index %></th>
            <td colspan="3">Delivery fee</td>
            <td><%= number_to_currency(20000, unit: 'VND', format: '%n %u') %></td>
          </tr>
          <% if @order.coupon == 'CODERSCHOOL' %>
            <% index += 1 %>
            <tr>
              <th scope="row"><%= index %></th>
              <td colspan="3">Coupon</td>
              <td><%= @order.coupon %></td>
            </tr>

          <% end %>
          <tr>
            <th scope="row"></th>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong><%= number_to_currency(20000 + total, unit: 'VND', format: '%n %u') %></strong></td>
          </tr>
          <% if @order.coupon == 'CODERSCHOOL' %>
          <tr>
            <th scope="row"></th>
            <td colspan="3"><strong>Total after coupon discount(<%= @order.coupon %>)</strong></td>
            <td><strong><%= number_to_currency((20000 + total)/2, unit: 'VND', format: '%n %u') %></strong></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
