<p id="notice"><%= notice %></p>
<div class="card">
  <%= image_tag @food.imageURL, size: "350x350", class: "card-img-top img-fluid center-block" %>
  <div class="card-block">
    <h4 class="card-title text-sm-center"> <%= @food.name %></h4>
    <div class="text-sm-center">
        <p class="text-muted"><%= number_to_currency(@food.price, unit: 'VND', format: "%n %u") %></p>
      <p class="text-muted">Average Review(<em><%= @food.ratings.count %> Reviews</em>)</p>
      <div class="star-rating text-muted" data-score= <%= @avg_rating %> ></div>
    </div>
    <hr>

    <p class="card-text"><%= @food.description %></p>
    <hr>
    <%= link_to "Order", new_order_path(@food), class: "btn btn-primary center-block" %>
    <br>
    <%= link_to "Rate this dish", new_food_rating_path(@food), class: "btn btn-info center-block" %>
  </div>
</div>

<div class="card">
  <div class="card-block">
  <h4 class="card-title text-sm-center">All Reviews</h4>
  <% @food.ratings.order("created_at DESC").each do |rating| %>
    <div class="reviews">
      <div class="row">
        <div class="col-sm-6">
          <p>
            <strong>Name:</strong> <%= rating.name %>
          </p>
          <p>
            <strong>Taste: </strong> <span class="star-rating" data-score=<%= rating.stars %>>
            </span>
          </p>

          <p>
            <strong>Comment:    </strong> <%= rating.comment %>
          </p>
      </div>
    </div>
  </div>
  <hr>
  <% end %>
  </div>
</div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
