<nav class="navbar navbar-light bg-faded">
  <%= link_to 'Nhà Hàng Tối', root_url, class:"navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to 'Home', root_url, class: "nav-link" %>
    </li>
    <li class="nav-item">
    </li>
    <li class="nav-item">
      <%= link_to 'Contact Us', welcome_contact_url, class: "nav-link" %>
    </li>
  </ul>
  <%= search_form_for(@q, :id => 'custom-search-input search', method: :get, class: "navbar-form navbar-custom-form pull-sm-right", role: "search") do |f| %>
        <div class="input-group">
          <%= f.text_field :name_cont, class: "form-control", placeholder: "Search your food here..." %>
          <span class="input-group-btn">
            <%= f.button(:class => "btn btn-secondary") do %>
              <span class="fa fa-search"></span>
            <% end %>
          </span>
        </div>
      <% end %>
</nav>
